In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns

In [3]:
marital_status_map={0:'Never Married', 1:'Married', 2:'Divorced', 3:'Separated', 4:'Widowed', 999:'Unknown'}
last_education_map={2:'High School', 1:'Primary School', 0:'No Schooling', 3:'College or Higher', 999:'Unknown'}
x_yes_no_map={1:'Yes', 0:'No', 9:"Don't Know", 8:'Refused to Answer'}
fever_severity_map = {9:"Don't Know", 2:'Moderate', 1:'Mild', 3:'Severe'}
alcohol_amount_map = {3:'High', 9:"Don't Know", 2:'Moderate', 1:'Low'}
respondent_relationship_map = {1:"Mother", 2:"Father", 3:"Grandmother", 4:"Grandfather", 5:"Aunt", 6:"Uncle", 7:"Husband", 8:"Wife",
          9:"Brother", 10:"Sister", 11:"Birth Attendant", 12:"Other Male", 13:"Other Female", 999:"Unknown"}
yes_no_map={1:'Yes', 0:'No', 9:"Don't Know"}
deceased_sex_map={0:'Male', 1:'Female'}
dont_know_map={999:"Don't Know"}

In [91]:
# ss.marital_status=ss.marital_status.replace(marital_status_map)
# ss.last_education=ss.last_education.replace(last_education_map)
# ss.deceased_sex=ss.deceased_sex.replace(deceased_sex_map)
# ss.fever_severity=ss.fever_severity.replace(fever_severity_map)
# ss.alcohol_amount=ss.alcohol_amount.replace(alcohol_amount_map)
# ss.respondent_relationship=ss.respondent_relationship.replace(respondent_relationship_map)
# ss.respondent_sex=ss.respondent_sex.replace(deceased_sex_map)

# for col in ss.columns.tolist():
#     vals=ss[col].unique().tolist()

#     if(8 in vals):
#         ss[col]=ss[col].replace(x_yes_no_map)
#     elif(1 or 0 in vals):
#         ss[col]=ss[col].replace(yes_no_map)
#     elif(999 in vals):
#         ss[col]=ss[col].replace(dont_know_map)

In [16]:
data = pd.read_csv('../data/ihme_adult_data.csv')

print(f'Data Shape: {data.shape}')

Data Shape: (2011, 51)

In [14]:
data.marital_status

0               <a href="/Separated">Separated</a>
1       <a href="/Never Married">Never Married</a>
2                   <a href="/Married">Married</a>
3       <a href="/Never Married">Never Married</a>
4                   <a href="/Married">Married</a>
                           ...
2006    <a href="/Never Married">Never Married</a>
2007                <a href="/Married">Married</a>
2008                <a href="/Married">Married</a>
2009    <a href="/Never Married">Never Married</a>
2010    <a href="/Never Married">Never Married</a>
Name: marital_status, Length: 2011, dtype: object

In [19]:
data.newid = data.apply(lambda x:  f'<a href="/{x.birth_year}">{x.last_age}</a>', axis=1)

data

,newid,birth_year,deceased_sex,death_year,last_age,marital_status,last_education,education_years,respondent_sex,respondent_relationship,...,had_cough,cough_blood,breathing_difficulty,fast_breathing,had_sores,had_fever,fever_severity,sweat_wit_fever,had_rash,possible_COD
0,"<a href=""/1943"">65</a>",1943,Male,2008.0,65,Separated,Primary School,7,Female,Other Female,...,No,No,No,No,Yes,No,Don't Know,No,No,Renal Failure
1,"<a href=""/Don't Know"">Don't Know</a>",Don't Know,Female,2009.0,Don't Know,Never Married,Primary School,7,Female,Other Female,...,No,No,Yes,Yes,No,Yes,Severe,Yes,No,AIDS
2,"<a href=""/1957"">50</a>",1957,Male,2007.0,50,Married,High School,12,Female,Wife,...,No,No,Yes,No,No,Yes,Mild,No,No,AIDS
3,"<a href=""/nan"">Don't Know</a>",NaN,Male,2008.0,Don't Know,Never Married,High School,14,Female,Other Female,...,No,No,Yes,No,No,No,Don't Know,No,No,Cirrhosis
4,"<a href=""/1958"">50</a>",1958,Female,2008.0,50,Married,Primary School,7,Male,Other Male,...,No,No,No,No,No,Yes,Moderate,No,No,Diabetes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2006,"<a href=""/1956"">52</a>",1956,Male,2008.0,52,Never Married,Primary School,7,Female,Other Female,...,Yes,No,No,No,No,Yes,Severe,Yes,No,TB
2007,"<a href=""/1947"">61</a>",1947,Male,2008.0,61,Married,College or Higher,16,Female,Other Female,...,No,No,Yes,Yes,No,Yes,Severe,Yes,No,AIDS
2008,"<a href=""/1969"">40</a>",1969,Male,2009.0,40,Married,Primary School,7,Male,Uncle,...,No,No,No,Yes,No,Yes,Severe,Yes,No,Stroke
2009,"<a href=""/1991"">19</a>",1991,Male,2010.0,19,Never Married,Primary School,7,Male,Other Male,...,No,No,No,No,No,No,Don't Know,No,No,Colorectal Cancer
2010,"<a href=""/1978"">30</a>",1978,Female,2008.0,30,Never Married,Primary School,7,Male,Father,...,Yes,No,Yes,No,Yes,Yes,Severe,Yes,No,Breast Cancer

In [3]:
data = data[data.possible_COD != 'Other Non-communicable Diseases']
data = data[data.possible_COD != 'Other Cardiovascular Diseases']
data = data[data.possible_COD != 'Other Infectious Diseases']
data = data[data.possible_COD != 'AIDS']


data

,newid,birth_year,deceased_sex,death_year,last_age,marital_status,last_education,education_years,respondent_sex,respondent_relationship,...,had_cough,cough_blood,breathing_difficulty,fast_breathing,had_sores,had_fever,fever_severity,sweat_wit_fever,had_rash,possible_COD
0,7,1943,Male,2008.0,65,Separated,Primary School,7,Female,Other Female,...,No,No,No,No,Yes,No,Don't Know,No,No,Renal Failure
3,24,NaN,Male,2008.0,Don't Know,Never Married,High School,14,Female,Other Female,...,No,No,Yes,No,No,No,Don't Know,No,No,Cirrhosis
4,26,1958,Female,2008.0,50,Married,Primary School,7,Male,Other Male,...,No,No,No,No,No,Yes,Moderate,No,No,Diabetes
7,34,1972,Female,2009.0,37,Married,Primary School,7,Female,Sister,...,Yes,No,No,No,No,Yes,Moderate,No,No,Pneumonia
10,42,1975,NaN,2008.0,33,Married,Primary School,7,Male,Other Male,...,No,No,No,No,No,No,Don't Know,No,No,Cirrhosis
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2005,6720,1967,Female,2009.0,42,Married,Primary School,7,Female,Sister,...,No,No,Yes,No,No,Yes,Moderate,No,No,Asthma
2006,6863,1956,Male,2008.0,52,Never Married,Primary School,7,Female,Other Female,...,Yes,No,No,No,No,Yes,Severe,Yes,No,TB
2008,7117,1969,Male,2009.0,40,Married,Primary School,7,Male,Uncle,...,No,No,No,Yes,No,Yes,Severe,Yes,No,Stroke
2009,7698,1991,Male,2010.0,19,Never Married,Primary School,7,Male,Other Male,...,No,No,No,No,No,No,Don't Know,No,No,Colorectal Cancer
2010,7704,1978,Female,2008.0,30,Never Married,Primary School,7,Male,Father,...,Yes,No,Yes,No,Yes,Yes,Severe,Yes,No,Breast Cancer

In [4]:
data.possible_COD.unique()

array(['Renal Failure', 'Cirrhosis', 'Diabetes', 'Pneumonia', 'Maternal',
       'Cervical Cancer', 'Fires', 'Stroke', 'TB', 'Breast Cancer',
       'Other Injuries', 'Leukemia/Lymphomas', 'Malaria', 'Suicide',
       'Esophageal Cancer', 'Diarrhea/Dysentery', 'Road Traffic',
       'Colorectal Cancer', 'Prostate Cancer', 'Homicide', 'Poisonings',
       'Drowning', 'Falls', 'Asthma', 'Lung Cancer', 'Stomach Cancer',
       'Epilepsy', 'Acute Myocardial Infarction', 'COPD'], dtype=object)

In [5]:
main_cols=[  
            'birth_year', 'deceased_sex', 'death_year', 'last_age', 'marital_status', 'last_education', 'education_years', 'respondent_sex',
            'respondent_relationship', 'had_asthma', 'had_arthritis', 'had_cancer', 'had_copd', 'had_dementia', 'had_depression', 'had_deabetes',
            'had_epilepsy', 'had_heart_disease', 'had_hypertension', 'had_obesity', 'had_stroke', 'had_tb', 'had_aids', 'care_sought',
            'care_from_traditional_healer', 'care_from_govt_hosp', 'care_from_private_hospital', 'care_from_private_physician',
            'care_from_phrmacy', 'have_health_records', 'show_health_records', 'death_certificate_issued', 'show_death_certificate', 
            'used_cigarattes', 'drank_alcohol', 'alcohol_amount', 'memory_loss_experience_3_last_months','experience_loss_of_conciousness', 
            'had_headaches', 'vomit_final_week', 'had_cough', 'cough_blood', 'breathing_difficulty', 'fast_breathing',
            'had_sores', 'had_fever', 'fever_severity', 'sweat_wit_fever', 'had_rash', 
            ]

In [ ]:
data.possible_COD.value_counts().sort_values(ascending=False)

In [6]:
X=data[main_cols]
y=data.possible_COD

X.shape, y.shape

((1434, 49), (1434,))

In [7]:
marital_status_map={'Never Married':0, 'Married':1, 'Divorced':2, 'Separated':3, 'Widowed':4, 'Unknown':999}
last_education_map={'High School':2, 'Primary School':1, 'No Schooling':0, 'College or Higher':3, 'Unknown':999}
x_yes_no_map={'Yes':1, 'No':0, "Don't Know":9, 'Refused to Answer':8}
fever_severity_map = {"Don't Know":9, 'Moderate':2, 'Mild':1, 'Severe':3}
alcohol_amount_map = {'High':3, "Don't Know":9, 'Moderate':2, 'Low':1}
respondent_relationship_map = {"Mother":1, "Father":2, "Grandmother":3, "Grandfather":4, "Aunt":5, "Uncle":6, "Husband":7,"Wife":8,
          "Brother":9, "Sister":10, "Birth Attendant":11, "Other Male":12, "Other Female":13, "Unknown":999}
yes_no_map={'Yes':1, 'No':0, "Don't Know":9}
deceased_sex_map={'Male':0, 'Female':1}

dont_know_map={"Don't Know":999}

In [8]:
X.marital_status=X.marital_status.replace(marital_status_map)
X.last_education=X.last_education.replace(last_education_map)
X.deceased_sex=X.deceased_sex.replace(deceased_sex_map)
X.fever_severity=X.fever_severity.replace(fever_severity_map)
X.alcohol_amount=X.alcohol_amount.replace(alcohol_amount_map)
X.respondent_relationship=X.respondent_relationship.replace(respondent_relationship_map)
X.respondent_sex=X.respondent_sex.replace(deceased_sex_map)

for col in X.columns.tolist():
    vals=X[col].unique().tolist()

    if('Refused to Answer' in vals):
        X[col]=X[col].replace(x_yes_no_map)
    elif('Yes' in vals):
        X[col]=X[col].replace(yes_no_map)
    elif("Don't Know" in vals):
        X[col]=X[col].replace(dont_know_map)

# X.head()

E:\_ProgramFIles\anaconda3\envs\tensorflow\lib\site-packages\pandas\core\generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value
<ipython-input-8-629a3390450b>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X[col]=X[col].replace(dont_know_map)
<ipython-input-8-629a3390450b>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X[col]=X[col].replace(x_yes_no_map)
<ipython-input-8-629a3390450b>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X[col]=X[col].replace(yes_no_map)

In [9]:
for col in X.columns:
    X[col]=X[col].fillna(X[col].mode()[0])
    X[col]=X[col].astype('int64')

# X.isna().sum().sort_values(ascending=False)

<ipython-input-9-25a362720e97>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X[col]=X[col].fillna(X[col].mode()[0])
<ipython-input-9-25a362720e97>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X[col]=X[col].astype('int64')

In [10]:
from sklearn.model_selection import train_test_split as tts
from sklearn.metrics import f1_score, accuracy_score

x_train, x_test, y_train, y_test=tts(X, y, test_size=0.2, stratify=y, random_state=568)

x_train.shape, x_test.shape

((1147, 49), (287, 49))

In [11]:
from lightgbm import LGBMClassifier

model=LGBMClassifier(
                        n_estimators=50,
                        colsample_bytree=0.6,
                        learning_rate=0.09,
)


model.fit(x_train, y_train)

LGBMClassifier(colsample_bytree=0.6, learning_rate=0.09, n_estimators=50)

In [21]:
#initialize the algorithm
from sklearn.model_selection import StratifiedKFold

f1_scores=[]

skf=StratifiedKFold(n_splits=5, random_state=568)

for train_index, test_index in skf.split(X, y):
    X_train, X_test = X.iloc[train_index], X.iloc[test_index]
    y_train, y_test = y.iloc[train_index], y.iloc[test_index]
    
    #fit the model
    model.fit(X_train, y_train)

    #make predictions for evaluations
    y_preds=model.predict(X_test)

    #display score
    print('F1 Score: ', f1_score(y_test, y_preds, average='weighted'))
    f1_scores.append((f1_score(y_test, y_preds, average='weighted')))

print(f'\nMean F1 Score: {np.mean(f1_scores)}')

E:\_ProgramFIles\anaconda3\envs\tensorflow\lib\site-packages\sklearn\model_selection\_split.py:293: FutureWarning: Setting a random_state has no effect since shuffle is False. This will raise an error in 0.24. You should leave random_state to its default (None), or set shuffle=True.
  warnings.warn(
E:\_ProgramFIles\anaconda3\envs\tensorflow\lib\site-packages\sklearn\model_selection\_split.py:670: UserWarning: The least populated class in y has only 2 members, which is less than n_splits=5.
  warnings.warn(("The least populated class in y has only %d"

F1 Score:  0.39979975539148876
F1 Score:  0.3914425599038015
F1 Score:  0.42282415270691504
F1 Score:  0.41231442806085433
F1 Score:  0.3990247458358375

Mean F1 Score: 0.40508112837977944

In [12]:
y_pred=model.predict(x_test)

f1_score(y_test, y_pred, average='weighted')

0.4546320489649041

In [14]:
x_test.head()

,birth_year,deceased_sex,death_year,last_age,marital_status,last_education,education_years,respondent_sex,respondent_relationship,had_asthma,...,vomit_final_week,had_cough,cough_blood,breathing_difficulty,fast_breathing,had_sores,had_fever,fever_severity,sweat_wit_fever,had_rash
1436,1957,1,2008,49,0,1,7,1,10,0,...,0,0,0,0,0,1,0,9,0,0
483,1933,1,2008,75,4,1,7,1,13,0,...,0,0,0,0,0,0,0,9,0,0
1588,999,1,2009,999,0,1,7,1,13,0,...,1,0,0,9,1,0,1,2,9,0
200,1975,0,2009,35,0,1,7,0,6,1,...,0,0,0,1,0,0,1,2,0,0
1515,1983,1,2008,25,1,1,7,1,1,0,...,9,0,0,0,0,0,0,9,0,0

In [35]:
nums=np.array(x_test.iloc[0])
nums

array([1957,    1, 2008,   49,    0,    1,    7,    1,   10,    0,    0,
          1,    0,    0,    0,    0,    0,    0,    1,    0,    0,    0,
          0,    1,    0,    1,    1,    0,    0,    0,    0,    1,    0,
          0,    0,    9,    0,    0,    0,    0,    0,    0,    0,    0,
          1,    0,    9,    0,    0], dtype=int64)

In [ ]:
model.predict_proba(nums.reshape(-1, 1))

In [24]:

accuracy_score(y_test, y_pred)

0.8641114982578397

In [25]:
import pickle

pickle.dump(model, open('../models/lgb_model.pkl', 'wb'))